<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<title>Formulário de cadastro de Notícia</title>
</head>

<body>

	<h1>Adicionar notícia</h1>
	<br />
	<form action="/noticias/salvar" method="POST">
		<label>Titulo: </label>
		<input type="text" id="titulo" name="titulo" placeholder="Adicione o titulo da noticia" />
		<br />
		<br />
		<label>Notícia: </label>
		<textarea id="noticia" name="noticia" placeholder="Adicione a notícia" rows="5" cols="30"></textarea>
		<br />
		<br />
		<input type="submit" value="Enviar" />
	</form>
</body>

</html>